.differents
    .differents__container.container
        .differents__items
            each val in ['Exchange', "Payments", "Games"]
                .different-item
                    h2.different-item__name= val
                    p.different-item__phrase Coming soon...
                    .different-item__content
                        .different-item__skeleton
                        .different-item__skeleton

