footer.footer
    .footer__container.container
        .footer-proposal
            h2.footer-proposal__title Do you want create a dapp?
            p.footer-proposal__description Send your project to <a href="mailto:newapp@tonstore.org">newapp@tonstore.org</a>
        .footer-bottom
            a.footer-bottom__stack(href="https://toncoin.org/", target="_blank")
                span Based on
                img(src="assets/images/logo.svg")
                h4 TON
            include menu