<!DOCTYPE html>
html(lang="en")
    head
        title TON Store — home for TON services
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='shortcut icon' href='assets/images/favicon.ico' type='image/x-icon')
    body
        .app#app
            include components/header
            +header('Apps')
            include components/favorites
            include components/differents
            include components/footer
            +footer('Apps')
        // Scripts
        script(src="./assets/js/index.js")