<!DOCTYPE html>
html(lang="en")
    head
        title TON Store — terms of service
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='shortcut icon' href='assets/images/favicon.ico' type='image/x-icon')
    body
        .app#app
            include components/header
            +header('Terms')
            main.terms
                .terms__container.container
                    br
                    h2 Terms
                    h3 GENERAL INFORMATION
                    p These Terms govern the access and use of the Website. Each time the Visitor accesses the Website, it irrevocably agrees to comply with these Terms posted on this Website. If the Visitor does not agree to any of the provisions set out in these Terms, it should not use the Website, dapps or any of the services available on the Website.
                    p Each time the Dapp Developer submits an application for listing and/or advertising the dapp on the Website, it has to also irrevocably agree and is bound to comply with these Terms. In the event the Dapp Developer does not agree to any of the provisions set out in these Terms, it should not submit an application for listing and/or advertising the dapp on the Website.
                    p The services provided on the Website are administered and maintained by TonStore. TonStore is a database of information about dapps, their rankings, functionalities, usage specifics and descriptions.
                    h3 USED TERMS
                    p &ldquo;
                        strong dapp(s)
                        | &rdquo; means a decentralized application or a program that exist and run on a blockchain technology or peer-to-peer network that can be installed and launched by many users on a decentralized network with trustless protocols.
                    p &ldquo;
                        strong TonStore
                        | &rdquo; means the company UAB &ldquo;TonStore&rdquo;, legal entity code 304895930, with its current registered address at Dz&umacr;k&uogon; str. 26A, Drevernos vlg., Klaip&edot;da distr., the Republic of Lithuania, which owns and administers the Website.
                    p &ldquo;
                        strong Dapp Developer
                        | &rdquo; means an individual or a company whose dapp is listed on the Website by TonStore or an individual or a company who submitted an application to TonStore for advertising and/or listing the dapp on the Website.
                    p &ldquo;
                        strong Terms
                        span(style='font-weight: 400;')
                        | &rdquo; means these terms of use of the Website, which apply to Visitors and Dapp Developers.
                    p &ldquo;
                        strong Visitor
                        | &rdquo; means an individual or a company who has visited the Website and is not a Dapp Developer.
                    p &ldquo;
                        strong Website
                        | &rdquo;&nbsp;means the internet website of TonStore, the address of which is <a href='https://tonstore.org' targer="_blank">https://tonstore.org</a>.

                    h3 INFORMATION ABOUT DAPPS
                    p TonStore will strive to ensure accuracy of information listed on the Website, although it will not hold any responsibility for any missing or wrong information about the dapps. Visitors understand and acknowledge that they are using any and all information available on the Website at their own risk.
                    p Visitors of the Website acknowledge and understand that TonStore may or may not pre-screen all the dapps accessible on the Website and that by using the Website they may encounter dapps that are offensive, indecent, or objectionable.
                    p Visitors acknowledge and agree that TonStore is not responsible for checking and evaluating the content and/or functionalities of the dapps accessible on the Website. TonStore does not warrant or endorse and will not have any liability for any dapp provided by the Dapp Developers, including, but not limited to, any errors or omissions in the dapps, or any loss or damage of any kind incurred as a result of using such dapps.

                    h3 NO INVESTMENT ADVICE
                    p All materials on the Website are for informational purposes only. Neither the TonStore nor any of the persons or entities involved in any way in respect of the Website provide for legal, fiscal, trading, economical and/or any other kind of advice or recommendation that may be relied upon. It means that the information from the Website cannot be used as a basis of investment strategy and nothing in this information can be ensured to contain no errors, mistakes, mispresentations or failures.
                    p Visitors will therefore act at their own risk in accessing or in any way relying on the content of the Website and the Visitors are therefore solely responsible for any consequences thereof.

                    h3 SUBMISSION OF DAPPS
                    p The Dapp Developer has a right to submit an application to TonStore for listing its dapp on the Website. In case under the view of TonStore such dapp is appropriate, the dapp will be listed and made public on the Website.
                    p Acceptance and ranking of dapps is determined solely by TonStore at its own discretion and according to the chosen criteria, which can be changed from time to time. The ranking is for informational purpose only and cannot be classified as any type of advice.
                    p TonStore reserves the right to categorize and place dapps in certain sections. Pursuant to the specific attributes of the dapp, it might be placed in the sections of &ldquo;Games&rdquo;, &ldquo;Exchanges&rdquo;, &ldquo;Collectibles&rdquo;, &ldquo;Marketplaces&rdquo;, &ldquo;Gambling&rdquo;, &ldquo;Other&rdquo; and &ldquo;High risk&rdquo;.
                    p Provided that TonStore has limited and incomplete information about certain dapp or if it finds the dapp suspicious, such dapp might be listed in the &ldquo;High risk&rdquo; section. TonStore recommends for the Visitors to do their own due diligence before visiting the websites and/or using any of products or services provided by the dapps listed in the &ldquo;High risk&rdquo; section.
                    p If the Dapp Developer notices any discrepancy between the information about its dapp and description thereof placed on the Website, it shall immediately contact TonStore under the contacts indicated herein.
                    p TonStore retains the right, but not the obligation, to edit, move or remove any dapp if such dapp or the Dapp Developer is deemed by TonStore to violate these Terms. TonStore will have no liability for editing, moving, removing, or continuing to permit the display of any dapp. If certain dapp under the view of TonStore seems to be inappropriate, TonStore also reserves the right not to post or publish any dapp, and to delete, remove or edit any dapp, at any time in its sole discretion without notice or liability.

                    h3 ADVERTISING OF DAPPS
                    p The Dapp Developer has a right to submit an inquiry for advertising its dapp on the Website. In order to advertise the dapp, the Dapp Developer has to fill and submit the advertising inquiry. Acceptance of advertising of the dapp is determined solely by TonStore at its own discretion and according to the chosen criteria.
                    p Based on the completed details of the advertising inquiry, in the event TonStore finds the inquiry appropriate, TonStore reaches back to the dapp Developer and sends an offer with the price based on current availability, advertising slot and period for advertising. As soon as the payment from the dapp Developer is received, the advertisement of the dapp is made public and visible on the Website. After receipt of the payment, the dapp Developer does not have a right to a refund.
                    p In the event the dapp is listed in the &ldquo;High risk&rdquo; section as it is indicated in the Article 5.4 hereof, TonStore does not accept any inquiries for advertising from such dapp Developers.
                    p TonStore is not the sponsor or promoter of the dapps, and does not bear any responsibility or liability for such advertising.
                    p TonStore retains the right to remove any advertising of the dapp on the Website if such advertising or Dapp Developer is deemed by TonStore to violate these Terms. In case of violation of provisions of these Terms, TonStore has no obligation to return any payments made by the dapp Developer to TonStore and has no liability for removing any of such advertising.

                    h3 OWNERSHIP OF DAPPS
                    p Any and all description, text, pictures, graphics, and other content or information about the dapps is generated, owned and controlled solely by the dapp Developers, and not by TonStore.
                    p TonStore does not claim any ownership rights in the listed dapps, and Dapp Developers acknowledge and agree that they remain solely responsible to damage caused by their dapps.

                    h3 WARRANTIES AND OBLIGATIONS OF DAPP DEVELOPERS
                    p Every Dapp Developer represents and warrants to TonStore that:
                        ul
                            li
                                p their dapp, and each and every part thereof, is an original work of the Dapp Developer, or the Dapp Developer has obtained all rights, licenses, consents and permissions necessary in order to use, submit and advertise the dapp and that the dapp does not and will not create any liability on the part of TonStore;
                            li
                                p the information about the Dapp Developer &ndash; its name, surname (for individual) or company name, company code, business address, e-mail address, wallet address, is complete, accurate and correct.
                    p Every Dapp Developer undertakes not to:
                        ul
                            li
                                p use the Website to advertise, display, promote, make available or otherwise communicate to the public:
                            ul
                                li
                                    p the dapp and the content thereof that is abusive, libellous, defamatory, pornographic or obscene, that promotes or incites violence, terrorism, illegal acts, or hatred on the grounds of race, ethnicity, cultural identity, religious belief, disability, gender, identity or sexual orientation, or is otherwise objectionable in TonStore&rsquo;s reasonable discretion;
                                li
                                    p any information or other material about the dapp that violates or infringes the rights of third parties including, without limitation, copyright, trademark rights, rights of privacy or publicity, confidential information or any other right;
                                li
                                    p any content about the dapp that violates, breaches or is contrary to any law, rule or regulation, or is otherwise illegal;
                                li
                                    p any material about the dapp that contains any virus, Trojan horse, spyware, adware, malware, bot, worm, or other harmful or malicious component, which might impair or disrupt the Website or Visitor&rsquo;s computer; or
                                li
                                    p any unauthorized and unconfirmed by the TonStore advertising, promotional messages, spam or any other form of solicitation of the dapp.
                            li
                                p employ scraping or similar techniques to aggregate, repurpose, republish or otherwise make use of any content from the Website;
                            li
                                p violate, bypass or circumvent any security measure intended to limit or prevent access to the Website or otherwise attempt to gain unauthorized access to the services provided on the Website, whether through hacking, unauthorized use of another&apos;s person credentials or any other means;
                            li
                                p employ any techniques or make use of any services, automated or otherwise, designed to misrepresent the ranking of the dapps, including without limitation by the use of bots, botnets, scripts, apps, plugins, extensions or other automated means where such activity occurs in a multiple or repetitive fashion;
                            li
                                p deliberately impersonate any person or entity or otherwise misrepresent affiliation with a person or entity, for example, by submitting an inquiry in the name of another person or company;
                            li
                                p the trademark &ldquo;TonStore,&rdquo; the TonStore&rsquo;s logo or any other marks belonging or licensed to TonStore in any way except as expressly authorized in writing by TonStore; all goodwill arising out of your authorized or unauthorized use of TonStore&rsquo;s marks shall belong to TonStore.
                        p TonStore reserves the right to remove the dapp, suspend or terminate the Dapp Developer&rsquo;s access to the Website and/or pursue all legal remedies if the Dapp Developer breaches any of the above-mentioned warranties and/or obligations.

                    h3 LIABILITY FOR THE DAPPS CONTENT
                    p TonStore does not control, and makes no representations or warranties about, any dapps&rsquo; content, including such content that may be accessible directly on the Website or through links from the Website to Dapp Developer&rsquo;s websites.
                    p TonStore acts merely as a passive conduit and/or host for the distribution of dapps&rsquo; content, and plays no active role and gives no assistance in creating it. The Dapp Developers are and will always be solely responsible for all of their dapps&rsquo; content.
                    p TonStore does not undertake or assume any duty to monitor the dapps&rsquo; content that is inappropriate, that does or might infringe any third-party rights, or has otherwise been presented in breach of these Terms or applicable law.
                    p Notwithstanding the fact that TonStore has no legal obligation to monitor the dapps&rsquo; content, TonStore reserves the right to block, remove or delete any dapp and/or its content at any time, and to limit or restrict access to any dapp and/or its content, for any reason and without liability, including without limitation, if TonStore has a reason to believe that such dapp and/or its content does or might infringe the rights of any third party, has been uploaded or posted in breach of these Terms or applicable law, or is otherwise unacceptable.

                    h3 LIMITATION OF LIABILITY
                    p TonStore does not guarantee that the Website or any content thereof will be error-free or uninterrupted, or that any defects will be corrected. TonStore disclaims any and all liability for the acts, omissions and conduct of any Dapp Developer or other third parties in connection with or related to Visitor&rsquo;s use of the Website or any TonStore&rsquo;s services. Visitors take full responsibility for the use of dapps accessible one the Website.
                    p To the maximum extent permitted by applicable law, TonStore shall not be liable for any direct, indirect, punitive, incidental or consequential damages or damages for lost profits, arising out of, or in any way connected with the Visitor&rsquo;s and/or Dapp Developer&rsquo;s access, use or with the inability to use the services available on the Website. In no event shall TonStore&rsquo;s total liability to the Visitor and/or Dapp Developer under these Terms for all damages exceed the amount of EUR 50 (fifty euros).

                    h3 INTELLECTUAL PROPERTY
                    p All text, graphics, user interfaces, visual interfaces, photographs, logos, artwork and computer code provided on the Website, including but not limited to the design, structure, selection, coordination, expression and arrangement of the content contained on the Website is an intellectual property of TonStore, and is protected by copyright, patent and trademark laws, and various other intellectual property rights.
                    p Except as expressly provided in these Terms, no part of the Website and no content indicated therein may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way to any other computer, server, website or other medium for publication or distribution for any commercial purpose, without TonStore&rsquo;s express prior written consent.

                    h3 LINKS TO OTHER WEBSITES
                    p Visitors use all links provided on the Website to visit Dapp Developers or other third-party websites at their own risk. When Visitor leaves the Website, the information it views is not provided by TonStore. These Terms do not govern the use of Dapp Developer&rsquo;s or other third-party websites. TonStore does not monitor or have any control over, and make no claim or representation regarding these websites. To the extent such links are provided on the Website, they are provided only as a convenience, and a link to another website does not imply TonStore&rsquo;s endorsement, adoption or sponsorship of, or affiliation with, such websites.

                    h3 MODIFICATIONS OF THE WEBSITE
                    p TonStore reserves the right to do any of the following, at any time, without notice:
                        ul
                            li
                                p to modify, suspend or terminate operation of or access to the Website, or any portion of the Website, for any reason;
                            li
                                p to modify or change the Website, or any portion of the Website, and any applicable policies or terms; and
                            li
                                p to interrupt the operation of the Website, or any portion of the Website, as necessary to perform routine or non-routine maintenance, error correction, or other changes.

                    h3 VIOLATION OF THE TERMS
                    p TonStore may disclose any information it has about the Visitor or the Dapp Developer (including its identity) if it determines that such disclosure is necessary in connection with any investigation or complaint regarding the use of the Website, or to identify, contact or bring legal action against someone who may be causing injury to or interference with TonStore&rsquo;s rights or property. TonStore also may disclose such information when applicable law requires or permits such disclosure, including exchanging information with other companies and organizations for fraud protection purposes.
                    p TonStore may, at its sole discretion and without prior notice, terminate the access to the Website, delete the dapp from the list and/or terminate the advertising campaign of the dapp if it determines that the Dapp Developer has violated any provision of these Terms or other agreements, or guidelines which may be associated with the use of the Website.
                    p If TonStore does take any legal action against the Visitor or the Dapp Developer as a result of their violation of these Terms, TonStore will be entitled to recover from all reasonable fees and costs of such action.

                    h3 APPLICABLE LAW AND DISPUTE RESOLUTION
                    p These Terms will be governed by and construed in accordance with the laws of the Republic of Lithuania, and the courts of the Republic of Lithuania will have non-exclusive jurisdiction over any claim or dispute arising under or in connection with these Terms.

                    h3 CHANGES TO THE TERMS
                    p TonStore reserves the right, at its sole discretion, to modify or replace these Terms at any time. If a revision is material, TonStore will provide at least 30 days&rsquo; notice prior to any new terms taking effect. The continued use of the Website after the end of notification period will constitute an acceptance of the revised Terms. What constitutes a material change is determined at TonStore&rsquo;s sole discretion.

                    h3 CONTACT
                    p In order to address a question, to resolve a complaint regarding the Website or the TonStore services, or to receive further information regarding the services, please contact TonStore via e-mail at <a href="mailto:info@tonstore.org">info@tonstore.org</a>

                    p(style='font-size:12px') Last Amended: 13 February 2019
            include components/footer
            +footer('Terms')
        script(src="./assets/js/index.js")


